/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */
body {
    background: black;
    color: azure;
}

h1 {
    color: aqua;
    text-align: center;
}

h2 {
    color: blueviolet;
    text-align: center;
}
h3 {
    color: darkturquoise;
}

p {
    color: chartreuse;
}

footer {
    margin-top: 2em;
    margin-bottom: 0em;
    position: relative; 
}
li {
    margin-top: 6px;
}

/* to call a class put a . before its name */
.newacronym{
    color: aquamarine;
}
.box1 {
    margin: 1em;
    border: thick double hotpink;
    padding: 1em;
}
  .inner {
    background: black;
  }
 .hidden {
    height: auto;
    width: 300px;
    display: none
  }
  .inner:hover img {
    display: block;
    width: 568px;
    height: 168px;
  }